<script type="text/javascript" src="/static/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/static/js/index.js"></script>
<link type="text/css" rel="stylesheet" href="/static/css/styles.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">

<div class="container">
    <div class="row kl-logo">
        <div class="kl-logo-image-wrapper" href="http://www.koniglabs.com">
            <img alt="Konig Labs" src="/static/images/KonigLabsLogo.png"/>
        </div>
    </div>
    <div class="row kl-wholewidth-section">
        <div class="kl-content">
            <h1> KonigLabs Auto Translator </h1>
            <div class="main" style="display: block;">
                <div>
                    <input type="text" class="search-input-desktop">
                    <button id="search_button" type="button" class="search__btn-search" onclick="executeSearch()" data-v-64cabaa2="">
                        Найти
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
